.play-card {
    background-color: var(--primary-50);
    border-radius: var(--border-radius-card);
    height: 374px;
    min-width: 320px;
    padding: 16px 20px 20px 20px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    -webkit-mask-image: url("/mask_play_card.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    
    mask-image: url("/mask_play_card.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center center;
}

.play-card__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: var(--font-family);
    color: var(--primary-500);
    margin: 12px;
}

.play-card__img-container {
    margin-top: var(--space-button);
    width: 280px;
    height: 142px;
    flex-shrink: 0;
    display: flex;            
    justify-content: center; 
    align-items: center;    
    margin: 0 auto;  
    background-color: var(--primary-50);
    margin-bottom: var(--space-section);
}

.play-card__img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-img);
    overflow: hidden;
    object-fit: contain;
}

.play-card__title {
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
    margin-bottom: var(--space-button);
    margin: 0;
}

.play-card__text {
    font-weight: var(--body-weight);
    font-size: var(--body-size);
    margin-bottom: var(--space-card);
}