.resources__button {
    height: 210px;
    width: 210px;
    border-radius: var(--border-radius-card);
    border: none;
    background-color: #CC0004;
    color: var(--white);
    font-family: var(--font-family);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    position: absolute;
    top: 198px;
    left: 0;
    transform: rotate(25deg);
    margin: 0;
    cursor: pointer;
}