html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.system {
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}

.system__header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
}

.system__back {
    font-size: 24px;
    color: var(--primary-500);
    border: none;
    background-color: transparent;
    margin-top: var(--space-body);
}

.system__container {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.system__title {
    font-family: var(--font-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--primary-500);
    margin: 0;
    margin-top: var(--space-body);
}

.system__h2 {
    font-family: var(--font-family);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.system__h3 {
    font-family: var(--font-family);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-button);
}

.system__text {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-button);
}

.system-img__container {
    flex: 1;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-button);

}

.system__image{
    max-width: 100%;
    height: auto;
    display:block;
}