.feedback-form__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1200;
    padding: var(--space-card);
}

.feedback-form {
    background-color: var(--white);
    border-radius: var(--border-radius-card);
    width: 300px;
    height: auto;
    padding: 24px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 1300;
}

.feedback-form__exit {
    position: absolute;
    right: 1px;
    font-size: 24px;
    color: var(--primary-500);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
}

.feedback-form__header {
    position: relative;
    margin-bottom: var(--space-card);
}

.feedback-form__title {
    font-family: var(--font-family);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--primary-500);
    margin-top: var(--space-card);
    text-align: center;
}

.feedback-form__subtitle {
    font-family: var(--font-family);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-button);
}

.feedback-form__info {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-card);
}

.feedback-form__input {
    height: 32px;
    width: 280px;
    padding: 4px 8px;
    margin: 0 !important;
}

.feedback-form__textarea-field {
    min-height: 60px;
    width: 280px;
    padding: 4px 8px;
}

.feedback-form__input, .feedback-form__textarea-field {
    border: solid 2px var(--secondary-200);
    border-radius: var(--border-radius-img);
    background-color: var(--white);
    color: var(--neutral-500);
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    margin-bottom: var(--space-card);
    margin-top: var(--space-button);
}   

.feedback-form__status {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    margin: 12px;
    border-radius: var(--border-radius-card);
    background-color: var(--white);
    color: var(--primary-500);
}

/* TABLET */
@media (min-width: 768px) {
    .feedback-form {
        width: 500px;
    }

    .feedback-form__input, .feedback-form__textarea-field {
        width: 480px;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .feedback-form {
        width: 600px;
    }

    .feedback-form__input, .feedback-form__textarea-field {
        width: 580px;
    }
}

/* DESKTOP LARGE */
@media (min-width: 1440px) {
    .feedback-form {
        width: 800px;
    }

    .feedback-form__input, .feedback-form__textarea-field {
        width: 780px;
    }
}