.btn {
    font-family: var(--font-family);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    border-radius: var(--border-radius-button);
    padding: 12px 20px;
    cursor: pointer;
    min-width: 120px;
  }
  
  /* Variantes */
  .btn-primary {
    background-color: var(--primary-400);
    color: var(--white);
    border: none;
  }
  
  .btn-secondary {
    background-color: var(--white);
    color: var(--primary-400);
    border: 1px solid var(--primary-400);
  }
  
  .btn-primary:hover {
    background-color: var(--primary-200);
    color: var(--black);
    border: 1px solid var(--primary-400);
  }

  .btn-secondar:hover {
    background-color: var(--neutral-200);
    color: var(--primary-500);
    border: 1px solid var(--primary-500);
  }