.daltonic {
    height: 165px;
    width: 165px;
    background-color: #FFCC00;
    border: none;
    color: var(--primary-500);
    font-family: var(--font-family);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-mask: url("/daltonic-01.svg") center/contain no-repeat;
    mask: url("/daltonic-01.svg") center/contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(15deg);
}