.daltonism {
    background-color: var(--light-yellow);
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;

}

.daltonism__title {
    font-family: var(--font-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.daltonism__h2 {
    font-family: var(--font-family);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.daltonism__text {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-card);
}