:root {
    background-color: var(--secondary-300);
}

.login__container {
    background-color: var(--secondary-50);
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    border-radius: var(--border-radius-card);
}

.login__title {
    font-family: var( --font-family);
    font-size: var(--h1-size);
    color: var(--primary-500);
}