.profile__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}
.profile__title {
    font-family: var(--font-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    text-align: left;
    color: var(--primary-500);
}

.profile__text {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    text-align: left;
    color: var(--primary-500);
}

.profile__back, .profile__menu {
    font-size: 32px;
    color: var(--primary-500);
    padding: 4px;
    border: none;
    background-color: transparent;
}