:root {
    background-color: var(--white);
}

.system__container {
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-bottom: var(--space-body);
    padding: 12px;
}

.system__title {
    font-family: var(--font-family);
    font-size: var(--h1-size);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.system__h2 {
    font-family: var(--font-family);
    font-size: var(--h2-size);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.system__h3 {
    font-family: var(--font-family);
    font-size: var(--h3-size);
    color: var(--primary-500);
    margin-bottom: var(--space-button);
}

.system__text {
    font-family: var(--font-family);
    font-size: var(--body-size);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.system-img__container {
    flex: 1;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.system__image{
    max-width: 100%;
    height: auto;
    display:block;
}