.scroll-up{
    background-color: var(--secondary-400);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 160px;
    z-index: 900;
    text-decoration: none;
}

.scroll-up:hover {
    background-color: var(--secondary-200);
}

.faArrowUp{
    color: var(--primary-50);
    font-size: var(--h1-size);
}