.navbar {
    width: 100%;
    height: auto;
    background-color: transparent;
    margin: 0 auto;
    padding: 8px 12px;
    box-sizing: border-box;
    border: none;
    top: 0;
    position: static;
    z-index: 11;
    overflow: hidden;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    
.logo__container {
    width: 160px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile__button {
    font-size: 32px;
    color: var(--primary-500);
    padding: 4px;
    border: none;
}

.menu__button {
    font-size: 32px;
    color: var(--primary-500);
    padding: 4px;
    border: none;
    background-color: transparent;
}