.signup-form {
    background-color: var(--blur);
    height: auto;
    width: 320px;
    border-radius: var(--border-radius-card);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.signup-form__title {
    font-family: var(--font-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--primary-500);
    text-align: center;
    margin-bottom: var(--space-card);
}

.signup-form__input-group {
    margin-bottom: var(--space-button);
    display: flex;
    flex-direction: column;
    gap: var(--space-button);
    align-items: center;
}

.signup-form__input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content:left;
}

.signup-form__label {
    color: var(--primary-500);
    font-family: var(--font-family);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
}

.signup-form__input {
    height: 32px;
    width: 280px;
    padding: 4px 8px;
    border: solid 2px var(--secondary-200);
    border-radius: var(--border-radius-img);
    background-color: var(--white);
    color: var(--neutral-500);
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
}

.form-error, .form-success {
    color: var(--primary-500);
    font-family: var(--font-family);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    justify-content: center;
    text-align: center;
}

.signup-form__footer {
    text-align: center;
    margin-top: 20px;
}
  
  .signup-form__footer-text {
    font-size: var(--body-size);
    color: var(--primary-500);
    font-family: var(--font-family);
}
  
.login-link {
    background: none;
    border: none;
    color: var(--primary-500);
    font-weight: var(--button-weight);
    cursor: pointer;
    text-decoration: underline;
    font-family: var(--font-family);
    font-size: var(--button-size);
}
  
.login-link:hover {
    color: var(--primary-300);
}
  
/* TABLET */
@media (min-width: 768px) {

    .signup-form {
        width: 500px;
    }

    .signup-form__input {
        width: 478px;

    }

}

/* DESKTOP */
@media (min-width: 1024px) {
    .signup-form {
        width: 600px;
    }

    .signup-form__input {
        width: 578px;

    }
}

/* DESKTOP LARGE */
@media (min-width: 1440px) {
    .signup-form {
        width: 800px;
    }

    .signup-form__input {
        width: 778px;

    }
}