html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.daltonism {
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative;
}

.daltonism__header {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.daltonism__title {
    font-family: var(--font-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.daltonism__h2 {
    font-family: var(--font-family);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-body);
}

.daltonism__text {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    color: var(--primary-500);
    margin-bottom: var(--space-card);
}

.daltonism__back {
    font-size: 24px;
    color: var(--primary-500);
    border: none;
    background-color: transparent;
}